.views-view-products-category_page {
  background-color: #fff;
  header {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 24px;
  }
  .view-content.row {
    margin-left: 0;
    margin-right: 0;
  }
}
